//==============================================================================
//  Colors
//==============================================================================

$white: #fff;
$overlay: rgba(60, 121, 123, .51);
$red: #f74d4d;
$dark-turquoise: #48878a;
$turquoise: #00b7bf;
$shadow: rgba(25, 120, 157, .36);
$main-background: #edeff3;

//==============================================================================
//  Breaking points
//==============================================================================

$break-large: 960px;
$break-medium: 768px;
$break-small: 480px;
$break-x-small: 320px;
