.album {
    &__wrapper {
        margin: 3rem auto;
    }

    &__item {

        display: inline-block;
        width: 25%;
        vertical-align: top;

        @media (max-width: $break-large) {
            display: inline-block;
            width: 33%;
        }

        @media (max-width: $break-medium) {
            display: inline-block;
            width: 50%;
        }

        @media (max-width: $break-small) {
            width: 100%;
        }
    }

    &__id {
        display: block;
        width: 100%;
        background-color: $white;
        border-bottom: 2px solid $shadow;
    }

    &__details {
        margin: 0;
        border: 0;
        text-align: center;
        position: relative;
        background: transparent;
    }

    &__title {
        font-size: 1.5rem;
        text-transform: capitalize;
    }

    &__image {
        width: 100%;
    }

    &__image-group {
        display: block;
        position: relative;
        overflow: hidden;
        width: 75%;
        margin: 0 auto;
        border: 2px solid $turquoise;
        border-radius: 2%;
        box-shadow: 2px 2px 8px 0 $shadow;

    }

    &__overlay {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: $overlay;
        opacity: 0;
        transition: opacity .5s;

        &:hover {
            opacity: 1;
        }

    }

    &__button {
        width: 75%;
        background: none;
        border: 2px solid $white;
        text-transform: uppercase;
        color: $white;
        padding: 1rem;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 40%;
        bottom: 40%;
    }
}
