.filter {
    &__input {
        width: 20%;
        margin: 0 auto;
        padding-bottom: 2rem;
    }

    &__label {
        width: 100%;
        text-align: center;
    }

    &__pagination-group {
        position: absolute;
        width: 20%;
        right: 1rem;
        text-align: right;
    }

    &__page-input {
        display: inline-block;
        vertical-align: middle;
        width: 20%;
    }

    &__pagination-label {
        display: inline-block;
    }
}
