.filter {

    &__bar {
        padding: 1rem 2rem;
        background-color: $turquoise;
        border-top: 2px solid $shadow;
    }

    &__input-group {
        display: inline-block;
        width: 49%;
    }

    &__input {
        display: inline-block;
        margin: 0;
    }

    &__label {
        width: 100%;
        text-align: center;
    }

    &__pagination-group {
        width: 49%;
        display: inline-block;
        text-align: right;
    }

    &__page-input {
        display: inline-block;
        vertical-align: middle;
        width: 10%;

        @media (max-width: $break-large) {
            width: 15%;
        }

        @media (max-width: $break-medium) {
            width: 20%;
        }

        @media (max-width: $break-small) {
            width: 25%;
        }
    }

    &__pagination-label {
        display: inline-block;
        color: $white;
        padding-right: .5rem;
    }
}
