.header {
    background: $main-background;
    position: relative;

    &__logo-container {
        text-align: center;
        padding: 2rem;

        @media (max-width: $break-small) {
            padding: 3rem;
        }
    }

    &__logo {
        width: 10%;

        @media (max-width: $break-large) {
            width: 15%;
        }

        @media (max-width: $break-medium) {
            width: 20%;
        }

        @media (max-width: $break-small) {
            width: 40%;
        }
    }
}
